:root {
  --c0: #fff;
  --c1: #f7f7f7;
  --c2: #ededed;
  --c3: #dedede;
  --c4: #ccc;
  --c5: #b2b2b2;
  --c6: #9c9c9c;
  --c7: #717171;
  --c8: #595959;
  --c9: #404040;
  --c10: #2e2e2e;
  --c11: #111;
  --c12: #000;

  --p1: #97f23d;
  --p2: #7ad91c;
  --p3: #64bf0a;
  --p4: #45a600;
  --p6: #2f8c00;
}